<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">

            <h3>¿Olvidaste la contraseña?</h3>

            <div class="formGroup">
                <input type="email" class="form-control" placeholder="E-Mail"
                    #passwordResetEmail required />
            </div>

            <div class="formGroup">
                <input type="submit" class="btn btn-primary btn-block"
                    value="Restrablecer contraseña"
                    (click)="authService.forgotPassword(passwordResetEmail.value)" />
            </div>

        </div>
    </div>
</div>
